*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins",sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
overflow-x:hidden;
}

section{
padding:100px 8%;
}


/* HEADER */

header{
position:fixed;
top:0;
width:100%;
z-index:1000;
}

.experience-card{
padding:35px;
}


/* NAVBAR */

.navbar{

height:80px;
display:flex;
align-items:center;
justify-content:space-between;

background:rgba(15,23,42,.85);
backdrop-filter:blur(15px);

padding:20px 8%;
border-radius:0 0 25px 25px;

}


/* LOGO */

.logo{

font-size:32px;
font-weight:700;

}

.logo span{

color:#00d9ff;
font-size:50px;

}


/* NAV LINKS */

.nav-link{

display:flex;
gap:30px;
list-style:none;

}


.nav-link a{

text-decoration:none;
color:white;
font-size:18px;
transition:.3s;

}


.nav-link a:hover{

color:#00d9ff;

}


/* MENU */

.menu-btn{

display:none;
font-size:30px;
cursor:pointer;

}



/* HERO */


.hero{

min-height:100vh;

display:flex;
align-items:center;
justify-content:space-between;

gap:50px;

}



.hero-content{

max-width:650px;

animation:slideLeft 1s ease;

}



.subtitle{

color:#00d9ff;
font-size:22px;

}



.hero h1{

font-size:55px;

animation:nameShow 1.5s ease;

}


.hero h2{

font-size:30px;
color:#00d9ff;

animation:roleShow 2.5s ease;

}



.hero-description{

color:#ccc;
line-height:1.8;
margin:25px 0;

}



.hero-buttons{

display:flex;
gap:20px;
flex-wrap:wrap;

}



.btn{

padding:14px 30px;
border-radius:15px;
text-decoration:none;
color:white;
transition:.4s;

}



.primary-btn{

background:linear-gradient(135deg,#00d9ff,#0077ff);

}



.secondary-btn{

border:1px solid #00d9ff;

}



.btn:hover{

transform:translateY(-8px) scale(1.05);

}


/* PROFILE */


.hero-image{

display:flex;
justify-content:center;

animation:float 4s infinite ease-in-out;

}


/* ABOUT TEXT */

.about-text{

padding:60px;
margin:20px;

}



.glass-circle{

width:330px;
height:330px;

border-radius:50%;

background:rgba(255,255,255,.1);

border:3px solid rgba(0,217,255,.5);

padding:15px;

box-shadow:
0 0 40px #00d9ff,
inset 0 0 30px rgba(255,255,255,.2);

}



.profile-image-wrapper{

width:100%;
height:100%;

border-radius:50%;
overflow:hidden;

}



.profile-image{

width:100%;
height:100%;

object-fit:cover;

transition:.5s;

}


.profile-image:hover{

transform:scale(1.1) rotate(5deg);

}


/* GLASS CARDS */


.glass{

background:rgba(255,255,255,.08);

border:1px solid rgba(255,255,255,.15);

backdrop-filter:blur(15px);

border-radius:25px;

box-shadow:0 15px 40px rgba(0,0,0,.4);

transition:.4s;

}



.glass:hover{

transform:translateY(-10px) rotateX(5deg);

}



/* TITLE */


.section-title{

text-align:center;
margin-bottom:50px;

}


.section-title h2{

font-size:40px;
color:#00e5ff;

}



/* SKILLS */


.skills-container{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(260px,1fr));

gap:25px;

}


.skill{

padding:25px;

}



.skill-info{

display:flex;
justify-content:space-between;
margin-bottom:15px;

}



.skill-info span:last-child{

color:#00e5ff;

}



.progress-bar{

height:12px;

background:#222;

border-radius:50px;

overflow:hidden;

}


.progress{

height:100%;
background:linear-gradient(90deg,#00d9ff,#0077ff);

}



.html{width:95%}
.js{width:90%}
.react{width:85%}
.node{width:80%}
.mongo{width:78%}
.github{width:90%}



/* PROJECT */


.projects-container{

display:grid;

grid-template-columns:
repeat(2,1fr);

gap:30px;

}



.project-card{

padding:35px;

}


.project-icon{

font-size:40px;
color:#00d9ff;
margin-bottom:20px;

}



/* CONTACT */


.contact-container{

max-width:700px;

margin:auto;

padding:40px;

text-align:center;

}



.contact-links{

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

}



.contact-icon{

width:60px;
height:60px;

display:flex;

align-items:center;
justify-content:center;

font-size:25px;

border-radius:50%;

background:rgba(255,255,255,.1);

color:#00d9ff;

transition:.4s;

}


.timeline-item {

padding:35px;
margin-bottom:30px;

}


.contact-icon:hover{

transform:translateY(-10px) rotate(10deg);

background:#00d9ff;

color:white;

}


footer{

text-align:center;

padding:100px;

margin:30px;

}



/* ANIMATION */


@keyframes float{

50%{

transform:translateY(-20px);

}

}


@keyframes slideLeft{

from{

opacity:0;
transform:translateX(-100px);

}

}



@keyframes nameShow{

from{

opacity:0;
transform:translateY(-40px);

}

}



@keyframes roleShow{

from{

opacity:0;

}

}



/* MOBILE */


@media(max-width:900px){


.navbar{

padding:20px;

}



.menu-btn{

display:block;

}



.nav-link{

position:absolute;

top:80px;

right:0;

width:260px;

height:100vh;

background:#111827;

flex-direction:column;

align-items:center;

padding-top:40px;

transform:translateX(100%);

transition:.4s;

}



.nav-link.active{

transform:translateX(0);

}


/* ABOUT MOBILE FIX */

.about-text{

padding:20px;

margin:0;

}


.about-text p{

font-size:15px;

line-height:1.8;

text-align:left;

display:block;

width:100%;

}


.hero{

flex-direction:column;

text-align:center;

padding-top:130px;

}



.hero-image{

order:1;

}



.hero-content{

order:2;

}


.glass-circle{

width:250px;
height:250px;

}



.hero h1{

font-size:38px;

}



.hero h2{

font-size:22px;

}



.projects-container{

grid-template-columns:1fr;

}


}



@media(max-width:500px){


section{

padding:80px 5%;

}



.logo{

font-size:25px;

}


.glass-circle{

width:210px;
height:210px;

}


.hero h1{

font-size:32px;

}


.contact-container{

padding:25px;

}


/* SMALL MOBILE ABOUT */

.about-text{

padding:15px;

}


.about-text p{

font-size:14px;

line-height:1.7;

}


}